<p>customer-upload-csv works!</p>

<p>{{isHeaderMismatch}}</p>

<div *ngIf="isHeaderMismatch">Header mismatch. Please verify the csv headers</div>

<div class="form-group">
    <input type="file" (change)="onFileSelect($event.target)" name="myfile">
    <!-- <input type="file" class="upload" (change)="changeListener($event.target.files)"> -->
</div>

<br>

<ag-grid-angular
    style="height: 500px;"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    resizable=true>
</ag-grid-angular>
